body {
    font-family: Poppins, sans-serif;
    background-color: #062447;
    padding: 10px;
}

main {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    gap: 10%;
}

header img {
    width: 150px;
    height: auto;
    padding-left: 40px;
}

#left-main  {
    margin-top: 50px;
    margin-left: 30px;
}

#left-main img {
    width: 7%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    #left-main img {
        display: none;
    }

    #right-main p {
        display: none;
    }

    main {
        margin-top: 50px;
    }
}


@media only screen and (max-width: 700px) {
    main {
        flex-wrap: wrap;
        margin-top: 10px;
        
    }

    button {
        margin-bottom: 20px;
    }

    #left-main  {

        margin-left: 0px;
    }

    header img {
        width: 150px;
        height: auto;
        padding-left: 0px;
    }
    

}

#left-main p {
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}

span {
    color: #ffbc91;
    text-decoration: underline;
    font-size: 12px;
}

h1 {
    color: #ffbc91;
}

button {
    background-color: #ffbc91;
    color: #062447;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: Poppins;
    margin-right: 20px;
    
}

.tagline {
    color: gray;
    opacity: 50%;
    margin-top: 40px;
}

#right-side {
    display: flex;
    justify-content: center;
    width: 50%;
 
    
}

#right-main img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 30px;
}

#right-main p {
    background-color: #19296d93;
    color: #ffbc91;
    border-radius: 5px;
    width: 80px;
    padding: 10px;
    text-align: center;
    margin-left: 50px;
}